**/node_modules/
**/dist/
**/.next/
**/out/
**/build/

**/__pycache__/
**/.venv/
**/venv/
**/*.py[cod]

**/*.node
**/*.zip
**/*.exe

.env
.env.local
.env.production
.env.prod
backend/.env.prod
frontend/.env.local

backend/media/
**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/
