**/node_modules/
**/dist/
**/.next/
**/out/
**/build/

**/__pycache__/
**/.venv/
**/.venv*/
**/venv/
**/venv*/
**/*.py[cod]

**/*.node
**/*.zip
**/*.exe

.env
.env.local
.env.production

backend/media/
**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/
