.bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
}
html[dir='rtl'] .bullet {
  margin-left: 12px;
  margin-right: 0;
}

.events {
  list-style: none;
  padding: 0;
  margin: 0;
}

.events li {
  margin-bottom: 6px;
}

.events li a,
.events li span {
  display: block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s;
}

.events li a:hover,
.events li span:hover {
  opacity: 0.8;
}

.primary {
  background: #5f63f2;
  color: #fff;
}
.secondary {
  background: #ff69a5;
  color: #fff;
}
.success {
  background: #20c997;
  color: #fff;
}
.info {
  background: #2c99ff;
  color: #fff;
}
.warning {
  background: #fa8b0c;
  color: #fff;
}
